@import url('base/normalize.css');
@import url('base/font-face.css');
@import url('base/base.css');
@import url('base/tooltip.css');
@import url('base/body-overlay.css');
@import url('screens/screen.css');
@import url('screens/sessions-screen.css');
@import url('screens/users-screen.css');
@import url('screens/power-screen.css');
@import url('screens/loading-screen.css');
@import url('screens/back-button.css');
@import url('mainscreen/sessions-button.css');
@import url('mainscreen/main-form.css');
@import url('mainscreen/power-buttons.css');
@import url('mainscreen/clock.css');
@import url('mainscreen/watermark.css');



/* SCROLLBARS */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #006aff;
}
